Chapter10/HelpDesk/App_WebReferences/UserInformation/UserInformation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/UserInformation" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/UserInformation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve User Information</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/UserInformation">
      <s:element name="GetFirstName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFirstNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPhoneNumberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmailAddressResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLocationResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFirstNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstName" />
  </wsdl:message>
  <wsdl:message name="GetFirstNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastName" />
  </wsdl:message>
  <wsdl:message name="GetLastNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="GetPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmailAddress" />
  </wsdl:message>
  <wsdl:message name="GetEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="GetLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="UserInformationSoap">
    <wsdl:operation name="GetFirstName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the first name of the user</wsdl:documentation>
      <wsdl:input message="tns:GetFirstNameSoapIn" />
      <wsdl:output message="tns:GetFirstNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the last name of the user</wsdl:documentation>
      <wsdl:input message="tns:GetLastNameSoapIn" />
      <wsdl:output message="tns:GetLastNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the phone number of the user</wsdl:documentation>
      <wsdl:input message="tns:GetPhoneNumberSoapIn" />
      <wsdl:output message="tns:GetPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the email address of the user</wsdl:documentation>
      <wsdl:input message="tns:GetEmailAddressSoapIn" />
      <wsdl:output message="tns:GetEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the location id of the user</wsdl:documentation>
      <wsdl:input message="tns:GetLocationSoapIn" />
      <wsdl:output message="tns:GetLocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserInformationSoap" type="tns:UserInformationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFirstName">
      <soap:operation soapAction="http://localhost/UserInformation/GetFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastName">
      <soap:operation soapAction="http://localhost/UserInformation/GetLastName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneNumber">
      <soap:operation soapAction="http://localhost/UserInformation/GetPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailAddress">
      <soap:operation soapAction="http://localhost/UserInformation/GetEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap:operation soapAction="http://localhost/UserInformation/GetLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserInformationSoap12" type="tns:UserInformationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFirstName">
      <soap12:operation soapAction="http://localhost/UserInformation/GetFirstName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastName">
      <soap12:operation soapAction="http://localhost/UserInformation/GetLastName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneNumber">
      <soap12:operation soapAction="http://localhost/UserInformation/GetPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailAddress">
      <soap12:operation soapAction="http://localhost/UserInformation/GetEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap12:operation soapAction="http://localhost/UserInformation/GetLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserInformation">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve User Information</wsdl:documentation>
    <wsdl:port name="UserInformationSoap" binding="tns:UserInformationSoap">
      <soap:address location="http://localhost/UserInformation/UserInformation.asmx" />
    </wsdl:port>
    <wsdl:port name="UserInformationSoap12" binding="tns:UserInformationSoap12">
      <soap12:address location="http://localhost/UserInformation/UserInformation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>